{% extends 'admin/admin_base.html' %}
{% block admin_content %}
    {% raw %}
    <div ng-app="helptux.admin" class="container-fluid">
        <form novalidate ng-controller="CreateCtrl">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="post.title" class="sr-only control-label">Title</label>
                        <input type="text" class="form-control" id="post.title"
                               placeholder="The title of this blog post."
                               ng-model="post.title" ng-required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="post.type" class="sr-only">Type</label>
                        <select class="form-control" id="post.type" ng-model="post.type" ng-required="true"
                                ng-options="type as type.type for type in available_types track by type.id"
                                placeholder="Type of this post.">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="post.content" class="sr-only">Content</label>
                    <textarea class="form-control" id="post.content" rows="25"
                              placeholder="THe contents of this blog post." ng-model="post.content"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="post.tag" class="sr-only">Tags</label>
                        <input list="post.tags" id="post.tag" ng-model="input_tag" placeholder="Tags"
                               class="form-control" ng-keydown="$event.which == 32 && tag_to_tags(input_tag)" ng-value="input_tag"/>
                        <datalist id="post.tags">
                            <option ng-value="tag.tag" ng-repeat="tag in available_tags">{{tag.tag}}</option>
                        </datalist>
                        <div>
                            <ul>
                                <li ng-repeat="tag in post.tags" ng-click="remove_tag(tag)">{{tag}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="post.cat" class="sr-only">Categories</label>
                        <input list="post.cats" id="post.cat" ng-model="input_cat" placeholder="Categories"
                               class="form-control" ng-keydown="$event.which == 32 && cat_to_cats(input_cat)" ng-value="input_cat"/>
                        <datalist id="post.cats">
                            <option ng-value="cat.category" ng-repeat="cat in available_cats">{{cat.category}}</option>
                        </datalist>
                        <div>
                            <ul>
                                <li ng-repeat="cat in post.cats" ng-click="remove_cat(cat)">{{cat}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <button type="submit" class="btn btn-default"
                            ng-click="post_submit(post)">
                        Opslaan
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% endraw %}
{% endblock %}